@import 'variables';
ul
{
  &.sidenav
  {
    background: #3c3b40;
    margin: 0 !important;
    width:300px;
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 57px;
    height: calc(100% + 0px);
    //border-right: 1px solid rgba(0,0,0,0.14);
    padding: 0;
    li
    {
      border-bottom: 1px solid rgba(0,0,0,0.14);
      line-height: 44px;
      list-style-type: none;
      float: none;
      a {
        font-size: 13px;
        line-height: 44px;
        height: 44px;
        padding: 0 30px;
        font-weight: 500;
        display: block;
        text-decoration: none;
        color: $white;
      }
      &.active{
        background: $body-bg-color;
        a{
          color: $black;
        }
      }
    }
  }
}

