@import 'variables';

//sidenav
@import 'sidenav';

//helper class
@import 'helper';

body{
  background-color: $body-bg-color;
}
.container-wrapper{
  margin: 0 5rem;
}
.shadow-sm{
  box-shadow: 0 0.1rem 0.25rem 1px rgba(0, 0, 0, 0.075) !important;
}
